.loginImg img {
    width: 300px;
}

@media (max-width: 575px) {
    img {
        width: 200px;
    }
}

.modal-login {
    background-color: rgb(252, 240, 200);
}
.modal-content-login {
    background-color: rgba(255, 255, 255, 0.5);
}